* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

body {
  background-color: #0a6e87;
  color: #ffffff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}


.top-nav {
  padding-top: 15px;
  background-color: #2a607c;
  padding: 20px;
  text-align: right;
  font-size: 20px;
  
}

a {
 
  text-decoration: none;
  color:#ffffff;
  margin-left: 25px;

}

.nav-links {
  display:inline-block;
  margin: 15px;


}

.header  {
  text-align: center;
  margin-top: 30px;

}


.image-padding {
  padding: 5px;
  background-color: #999900;
  border: 10px solid rgb(139, 79, 0);
  display: block;
  margin: 50px;
  margin-left: auto;
  margin-right: auto;


}

.paragraph {
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  padding: 10px;

}

.contact {
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  padding: 10px;

}

.container {
  margin: 50px;
  margin: auto;
  display: flex;
  width: 50%;
  padding: 20px 20px;

  
  
}

.formcheck{
 
  border: 2px solid rgb(30, 0, 139);
  width: 750px;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding-top: 10px;


}

.form-size { 
  width:400px;
  height: 30px;
  }



#form-label-text {
  
  font-size: 24px;
  display: block;
  text-align: center;


}

.footer-format {

  padding: 15px;
  text-align: center;
  font-size: 16px;
 
  background-color: #2a607c;


}


