* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

body {
  background-color: #f7f5f7;
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}



.top-nav {
  padding-top: 15px;
  background-color: #2f3132;
  padding-bottom:  20px;
  height: 70px;
  font-size: 20px;
  text-align: right;
  display: flex;
  

  
}

.heading{
  padding-right: 10px;
  font-size: 30px;
  height: 40px;
  width: 270px;
  margin-right: 800px;
  background-color: lightblue;
  color:#2f3132;
  
}

.nav-links {
  display:inline-block;
  margin: 15px;
  color: lightblue;
  
}


a {
  color: lightblue;
 
}




/* positioned the image and text for the subtitle  */
.image-padding {
  position:relative;
  text-align: center;
  width: 100%;

}
.header  {
position: absolute;
bottom: 16px;
right: 60px;
height: 40px;
width: 220px;
background-color: lightblue;
margin: auto;
line-height: 40px;
text-align: center;

}

.cat-section-align {
  display:inline-block;
  display: flex;
  text-justify: auto;
}

.positioning-lft-all {
  margin-bottom: 20px;
  width: 300px;
  
}

.h2-all {
  object-position: right;
  border-right: 2px solid rgb(50, 55, 93);
  color: rgb(50, 55, 93);
  font-size: 45px;
  padding-right: 5px;
  display: flex;
  justify-content:flex-end;

}



.paragraph-alignment {
  font-size: 15px;
  padding-left: 30px;
  width: 800px;
       
}

.contact-alignment {
  font-size: 15px;
  padding-left: 30px;
  width: 1000px;
  color: rgb(50, 55, 93); 
       
}

.h2-contact {
  object-position: right;
  border-right: 2px solid rgb(50, 55, 93);
  color: rgb(50, 55, 93);
  font-size: 45px;
  padding-right: 5px;
  display: flex;
  justify-content:right;
  justify-items:end;

}

.positioning-lft-contact {
  margin-bottom: 20px;
  width: 270px;
  display:inline-block;
  
}

.contact-links {
  display:inline-block;
  margin: 30px;

}

article ul li a {
  color: rgb(50, 55, 93);
}



/* .container {
  margin: 50px;
  margin: auto;
  display: flex;
  width: 50%;
  padding: 20px 20px;

  
  
} */

/* .formcheck{
 
  border: 2px solid rgb(30, 0, 139);
  width: 750px;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding-top: 10px;


}

.form-size { 
  width:400px;
  height: 30px;
  }



#form-label-text {
  
  font-size: 24px;
  display: block;
  text-align: center; */


/* } */




